<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348464614809-amou4hjq8ne26dfusudqocourfk5epev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348464614809-amou4hjq8ne26dfusudqocourfk5epev</string>
	<key>API_KEY</key>
	<string>AIzaSyANHH3bTKdzE7cEzbJN2altZMdfMlZuRAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>348464614809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mycompany.avSpanish</string>
	<key>PROJECT_ID</key>
	<string>av-spanish-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>av-spanish-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348464614809:ios:6fb8cf76cada52ee739708</string>
</dict>
</plist>